.contenedor {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 0.5vh;
    padding: 1%;
}

.carta{
padding: 1%;    
color: black;
width: 80%;
min-height: 1vh;
min-height: min-content;
position: absolute;
}
h1{
    color: azure;
    border-color: black;

}
h2{
    color:black;
    border-color: blue;
    font-size: xx-large;
}