
a {
	text-decoration: none;
  }
  
  h1 {
	font-family: open-sans;
	font-weight: 300;
  } 
  .row {
	max-width: 900px;
	margin: 50px auto 0;
	flex: content;
	padding: 1%;
  } 
  .card {
	float: left;
	padding: 0 1.7rem;
	width: 100%;  }
	.menu-content {
	   margin: 0;
	  padding: 0;
	  list-style-type: none; }
	  li {
		display: inline-block;
	  }
	  a {
		color: white;
	  }
	  span {
		position: absolute;
		left: 50%;
		top: 0;
		font-size: 10px;
		font-weight: 700;
		font-family: 'Open Sans';
		transform: translate(-50%, 0);
	  }
	
	.wrapper {
	  background-color: white;
	  min-height: 540px;
	  position: relative;
	  overflow: hidden;
	  box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);  
	}
	
	.author {
	  font-size: 12px;
	}
	.title {
	  margin-top: 10px;
	}
	.text {
	  height: 70px;
	  margin: 0;
	}
	input[type='checkbox'] {
	  display: none;
	}
	input[type='checkbox']:checked + .menu-content {
	  transform: translateY(-60px);
	}
  
  






/* .resultados{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
};


.resultados > *{
    flex-basis: 30%;
   
}
.result > {
    padding-bottom: 10%;
   
}
.card{
    padding-bottom: 1%;
    padding-top: 1%;
    border: 1px solid #000;
    
};
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
 */

 